



#row1, #row2 {
  display: flex;
  flex-basis: 33.333%;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-bottom: 5em;

   img{
    width: 288px;
    height: 200px;
    align-items: center;
  }

  .card-text{
    max-width: 200px;
    text-align: center;
   }

.card-title {
  border: solid 1px lightblue;
}

}

.specifications {
  text-decoration: underline;
}

.spec-list {
  list-style: none;
}

.pricing, .spec-list {
  font-weight: bold;
}
