

#card-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.dell-xps13, .dell-xps15 .dell-inspiron-14{
  flex-basis: 33.333%;
  justify-content: center;
  align-items: center;

  img{
    width: 288px;
    height: 200px;
  }
}

.dell-inspiron-15, .dell-latitude-7450, .dell-latitude-5550 {
  flex-basis: 33.333%;
  justify-content: center;
  align-items: center;

  img{
  width: 288px;
  height: 200px;
}
}

.card-text {
 max-width: 200px;
 text-align: center;
}
